{% extends "base.html" %}
{% block title %} Checkout {% endblock %}




{% block content %}

	<!-- breadcrumb-section -->
	<div class="breadcrumb-section breadcrumb-bg">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 offset-lg-2 text-center">
					<div class="breadcrumb-text">
						<p>Fresh and Organic</p>
						<h1>Check Out Product</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end breadcrumb section -->

	<!-- check out section -->
	<div class="checkout-section mt-150 mb-150">
		<div class="container">
			<div class="row">
				<div class="col-lg-8">
					<div class="checkout-accordion-wrap">
						<div class="accordion" id="accordionExample">
						  <div class="card single-accordion">
						    <div class="card-header" id="headingOne">
						      <h5 class="mb-0">
						        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
						          Billing Address/Shipping Address
						        </button>
						      </h5>
						    </div>

						    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
						      <div class="card-body">
						        <div class="billing-address-form">
						        	<form id="billingForm" method="POST">
                                        <p><input type="text" name="full_name" placeholder="Full Name" required></p>
                                        <p><input type="tel" name="phone" placeholder="Phone" required></p>
                                        <p><input type="text" name="address" placeholder="Address" required></p>
                                        <p><input type="text" name="country" placeholder="Country" required></p>
                                        <p><input type="text" name="city" placeholder="City/Town" required></p>
                                        <p><input type="text" name="postal_code" placeholder="Postal Code" required></p>
                                        <input type="hidden" name="total_price" value="{{ total_price }}"> 
										<a href="#" class="boxed-btn" id="placeOrderBtn" data-toggle="modal" data-target="#orderModal">Place Order</a>
                                    </form>
						        </div>
						      </div>
						    </div>
						  </div>
						  <!-- <div class="card single-accordion">
						    <div class="card-header" id="headingTwo">
						      <h5 class="mb-0">
						        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
						          Shipping Address
						        </button>
						      </h5>
						    </div>
						    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
						      <div class="card-body">
						        <div class="shipping-address-form">
						        	<p>Your shipping address form is here.</p>
						        </div>
						      </div>
						    </div>
						  </div> -->
						  <!-- <div class="card single-accordion">
						    <div class="card-header" id="headingThree">
						      <h5 class="mb-0">
						        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
						          Card Details
						        </button>
						      </h5>
						    </div>
						    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
						      <div class="card-body">
						        <div class="card-details">
						        	<p>Your card details goes here.</p>
						        </div>
						      </div>
						    </div>
						  </div> -->
						</div>

					</div>
				</div>

				<div class="col-lg-4">
					<div class="order-details-wrap">
						<table class="order-details">
							<tr>
								<th colspan="2" style="text-align: center;">
								  <h5>YOUR ORDER DETAILS :</h5>
								</th>
							</tr>
							<tbody class="order-details-body">
								<tr>
									<td><b>PRODUCT</b></td>
									<td><b>TOTAL PRICE</b></td>
								</tr>
								{% for item in cart_items %}
								<tr>
									<td>{{ item.product_name }}</td>
									<td>${{ '{:.2f}'.format(item.price * item.quantity) }}</td>
								</tr>
								{% endfor %}
							</tbody>
							<tbody class="checkout-details">
								<tr>
									<td><b>TOTAL</b></td>
									<td>${{ '{:.2f}'.format(total_price) }}</td>
								</tr>
							</tbody>
						</table>
						<!-- <a href="#" class="boxed-btn" id="placeOrderLink" data-toggle="modal" data-target="#orderModal">Place Order</a> -->
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end check out section -->

	<!-- Modal for order status-->
<div class="modal fade" id="orderModal" tabindex="-1" role="dialog" aria-labelledby="orderModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
	  <div class="modal-content">
		<div class="modal-header">
		  <h5 class="modal-title" id="orderModalLabel">Order Confirmation</h5>
		  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		  </button>
		</div>
		<div class="modal-body" id="orderModalBody">
            <!-- Order confirmation content will be dynamically inserted here -->
        </div>
		<div class="modal-footer">
		  <button type="button" class="btn btn-secondary" data-dismiss="modal" style="border-radius: 50px; background-color: #F28123; padding: 10px 20px;">Close</button>
		</div>
	  </div>
	</div>
  </div>

{% endblock %}



{% block js %}

<script>
	document.getElementById('placeOrderBtn').addEventListener('click', function(event) {
		event.preventDefault();
		// Serialize form data
		var form = document.getElementById('billingForm');
		var formData = new FormData(form);
    
		fetch('{{ url_for("place_order") }}', {
			method: 'POST',
			body: formData
		})
		.then(response => response.json())
		.then(data => {
			// Update the modal body with the response data
			var modalBody = document.getElementById('orderModalBody');
			modalBody.innerHTML = `
				<div class="container mt-5 d-flex justify-content-center">
					<div class="card p-4 mt-3">
						<div class="first d-flex justify-content-between align-items-center mb-3">
							<div class="info">
								<span class="d-block name">Thank you, ${data.full_name}</span>
								<span class="order">Order - ${data.order_id}</span>
							</div>
							<img src="https://i.imgur.com/NiAVkEw.png" width="40"/>
						</div>
						<div class="detail">
							<span class="d-block summery">${data.order_message}</span>
						</div>
						<hr>
						<div class="text">
							<span class="d-block new mb-1">${data.full_name}</span>
						</div>
						<span class="d-block address mb-3">${data.address}</span>
						<div class="money d-flex flex-row mt-2 align-items-center">
							<img src="https://i.imgur.com/ppwgjMU.png" width="20" />
							<span class="ml-2">${data.payment_method}</span>
						</div>
					</div>
				</div>
			`;

			// Show the modal
			$('#orderModal').modal('show');

		})
		.catch(error => {
			console.error('Error:', error);
		});
	});

	// Clear the order details when the modal is closed
    $('#orderModal').on('hidden.bs.modal', function () {
        // Clear the order details table
        document.querySelector('.order-details-body').innerHTML = `
            <tr>
                <td><b>PRODUCT</b></td>
                <td><b>TOTAL PRICE</b></td>
            </tr>
        `;
        document.querySelector('.checkout-details').innerHTML = `
            <tr>
                <td><b>TOTAL</b></td>
                <td>$0.00</td>
            </tr>
        `;

        // Update the hidden total price field
        document.getElementById('hiddenTotalPrice').value = '0.00';
    });
</script>

{% endblock %}

