{% extends 'admin_base.html' %}

{% block title %}
    Orders
{% endblock %}

{% block pageheading %}
    Orders
{% endblock %}

{% block content %}

<div class="card shadow col-md-12 mb-12">
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Full Name</th>
                        <th>Order ID</th>
                        <th>Order Date</th>
                        <th>Total Amount</th>
                        <th>Status</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in order_items %}
                    <tr>
                        <td>{{ item.username }}</td>
                        <td>{{ item.order_id }}</td>
                        <td>{{ item.order_date.strftime('%Y-%m-%d %H:%M:%S') }}</td>
                        <td>${{ '{:.2f}'.format(item.total_amount) }}</td>
                        <td>{{ item.user_id }}</td>
                        <td>
                            <div class="dropdown mb-4">
                                <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton{{ item.order_id }}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Dropdown
                                </button>
                                <div class="dropdown-menu animated--fade-in" aria-labelledby="dropdownMenuButton{{ item.order_id }}">
                                    <a class="dropdown-item" href="#" onclick="showOrderDetailsModal({{ item.order_id }})">Detail</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- Modal for Details -->
<div class="modal" id="orderDetailsModal" tabindex="-1" role="dialog" aria-labelledby="orderDetailsModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="orderDetailsModalLabel">Order Details</h5>
                <button type="button" class="close" aria-label="Close" onclick="closeModal()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p><strong>Order ID:</strong> <span id="orderId"></span></p>
                <p><strong>Order Date:</strong> <span id="orderDate"></span></p>
                <p><strong>Full Name:</strong> <span id="fullName"></span></p>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Product Name</th>
                            <th>Quantity</th>
                            <th>Price</th>
                        </tr>
                    </thead>
                    <tbody id="orderItems">
                        <!-- Order items will be displayed here -->
                    </tbody>
                </table>
                <p><strong>Total Amount:</strong> <span id="totalAmount"></span></p>
                <div class="form-group">
                    <label for="orderStatus">Status</label>
                    <select class="form-control" id="orderStatus">
                        <option value="processing">Processing</option>
                        <option value="complete">Complete</option>
                        <option value="cancel">Cancel</option>
                    </select>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="closeModal()">Close
                    <span aria-hidden="true">&times;</span>
                </button>
                <button type="button" class="btn btn-primary" id="saveStatusBtn" onclick="saveStatus()">Save Status</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block scripts %}
<script>
    function showOrderDetailsModal(orderId) {
        document.getElementById('orderId').innerHTML = orderId;
        // document.getElementById('orderDate').innerHTML = orderDate;
        // document.getElementById('fullName').innerHTML = orderId;
        // show the modal
        document.getElementById('orderDetailsModal').style.display = 'block';
}
function closeModal() {
    // document.getElementById('orderDetailsModal').hidden = true;
    document.getElementById('orderDetailsModal').style.display = 'none';
}
</script>
{% endblock %}

